body {
  font-weight: lighter;
}
.country {
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}
.form {
  text-align: center;
  margin-top: 120px;
  padding: 20px;
}
.input {
  padding: 12px 12px;
  text-align: left;
  align-items: center;
  margin: 50px;
  margin-left: 550px;
}
.btn {
  margin: 12px;
  padding: 12px 12px;
}
.test {
  height: 500px;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  background-image: url("../img/covid.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
